<?xml version="1.0"?>
<!-- 
/**
 * @category   Excellence
 * @package    Excellence_Addnumber
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Excellence_Addnumber>
            <version>0.1.0</version>
        </Excellence_Addnumber>
    </modules>
    <frontend>
        <routers>
            <addnumber>
                <use>standard</use>
                <args>
                    <module>Excellence_Addnumber</module>
                    <frontName>addnumber</frontName>
                </args>
            </addnumber>
        </routers>
        <layout>
            <updates>
                <addnumber>
                    <file>addnumber.xml</file>
                </addnumber>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<addnumber>
				<use>admin</use>
				<args>
					<module>Excellence_Addnumber</module>
					<frontName>addnumber</frontName>
				</args>
			</addnumber>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<addnumber module="addnumber">
				<title>Addnumber</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="addnumber">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>addnumber/adminhtml_addnumber</action>
					</items>
				</children>
			</addnumber>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Excellence_Addnumber>
							<title>Addnumber Module</title>
							<sort_order>10</sort_order>
						</Excellence_Addnumber>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<addnumber>
					<file>addnumber.xml</file>
				</addnumber>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <addnumber>
                <class>Excellence_Addnumber_Model</class>
                <resourceModel>addnumber_mysql4</resourceModel>
            </addnumber>
            <addnumber_mysql4>
                <class>Excellence_Addnumber_Model_Mysql4</class>
                <entities>
                    <addnumber>
                        <table>addnumber</table>
                    </addnumber>
                </entities>
            </addnumber_mysql4>
            <customer_resource>
                <rewrite>
                    <customer>Excellence_Addnumber_Model_Customer_Resource_Customer</customer>
                </rewrite>
            </customer_resource>
            <customer>
               <rewrite>
                   <customer>Excellence_Addnumber_Model_Customer_Customer</customer>
               </rewrite>
           </customer>
        </models>
        <resources>
            <addnumber_setup>
                <setup>
                    <module>Excellence_Addnumber</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </addnumber_setup>
            <addnumber_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </addnumber_write>
            <addnumber_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </addnumber_read>
        </resources>
        <blocks>
            <addnumber>
                <class>Excellence_Addnumber_Block</class>
            </addnumber>
        </blocks>
        <helpers>
            <addnumber>
                <class>Excellence_Addnumber_Helper</class>
            </addnumber>
        </helpers>
        <fieldsets>
            <customer_account>
                 <phone><create>1</create><update>1</update></phone>
                 <phone>
                    <to_quote>customer_phone</to_quote>
                </phone>
            </customer_account>
        </fieldsets>
    </global>
</config>